<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

	<event name="checkout_cart_product_add_before">
		<observer instance="ITM\OutstandingPayments\Observer\Checkout\CartProductAddBefore" name="itm_outstandingpayments_observer_checkout_cartproductaddbefore_checkout_cart_product_add_before"/>
	</event>

	<event name="checkout_cart_product_add_after">
		<observer instance="ITM\OutstandingPayments\Observer\Checkout\CartProductAddAfter" name="itm_outstandingpayments_observer_checkout_cartproductaddafter_checkout_cart_product_add_after"/>
	</event>

	<event name="checkout_cart_product_update_after">
		<observer instance="ITM\OutstandingPayments\Observer\Checkout\CartProductAddAfter" name="itm_outstandingpayments_observer_checkout_cartproductupdateafter_checkout_cart_product_update_after"/>
	</event>

</config>
