<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Wagento\ImportData\Api\ProductInterface" type="Wagento\ImportData\Model\Product"/>
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="product" xsi:type="object">Wagento\ImportData\Console\Command\ImportProductCommand</item>
            </argument>
        </arguments>
    </type>

    <!-- Logger Begin -->
    <virtualType name="Wagento\Framework\Logger\Handler\Base" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/importDataProduct.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="Wagento\Framework\Logger\Monolog" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">Wagento\Framework\Logger\Handler\Base</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Wagento\ImportData\Model\Product">
        <arguments>
            <argument name="logger" xsi:type="object">Wagento\Framework\Logger\Monolog</argument>
        </arguments>
    </type>
    <!-- Logger End -->
</config>
