<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Wagento\ImportData\Api\ProductInterface" type="Wagento\ImportData\Model\Product"/>
    <preference for="Wagento\ImportData\Api\CustomerInterface" type="Wagento\ImportData\Model\Customer"/>
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="product" xsi:type="object">Wagento\ImportData\Console\Command\ImportProductCommand</item>
                <item name="customer" xsi:type="object">Wagento\ImportData\Console\Command\ImportCustomerCommand</item>
            </argument>
        </arguments>
    </type>

    <!-- Logger Product Begin -->
    <virtualType name="Wagento\Product\Logger\Handler\Base" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/importDataProduct.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="Wagento\Product\Logger\Monolog" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">Wagento\Product\Logger\Handler\Base</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Wagento\ImportData\Model\Product">
        <arguments>
            <argument name="logger" xsi:type="object">Wagento\Product\Logger\Monolog</argument>
        </arguments>
    </type>
    <!-- Logger Product End -->

    <!-- Logger Customer Begin -->
    <virtualType name="Wagento\Customer\Logger\Handler\Base" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/importDataCustomer.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="Wagento\Customer\Logger\Monolog" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">Wagento\Customer\Logger\Handler\Base</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Wagento\ImportData\Model\Customer">
        <arguments>
            <argument name="logger" xsi:type="object">Wagento\Customer\Logger\Monolog</argument>
        </arguments>
    </type>
    <!-- Logger Customer End -->
    <preference for="Wagento\ImportData\Api\ImportexportProductDescriptionInterface"
                type="Wagento\ImportData\Model\ImportexportProductDescription"/>
    <preference for="Wagento\ImportData\Api\ProductDescriptionInterface"
                type="Wagento\ImportData\Model\ProductDescription\ProductDescription"/>
    <type name="Wagento\ImportData\Model\ProductDescription\ProductDescription">
        <arguments>
            <argument name="tabsImport" xsi:type="array">
                <item name="General" xsi:type="object">Wagento\ImportData\Model\ProductDescription\Tabs\General</item>
                <item name="Caracteristicas" xsi:type="object">Wagento\ImportData\Model\ProductDescription\Tabs\Caracteristicas</item>
                <item name="Geometria" xsi:type="object">Wagento\ImportData\Model\ProductDescription\Tabs\Geometria</item>
                <item name="Tecnologia" xsi:type="object">Wagento\ImportData\Model\ProductDescription\Tabs\Tecnologia</item>
                <item name="Beneficios" xsi:type="object">Wagento\ImportData\Model\ProductDescription\Tabs\Beneficios</item>
                <item name="Documentos" xsi:type="object">Wagento\ImportData\Model\ProductDescription\Tabs\Documentos</item>
            </argument>
        </arguments>
    </type>
</config>
