// /**
//  * Rutavity theme font management
//  * @package Milan_Rutavity
//  * @author Rudie Wang <rudi.wang@wagento.com>
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //  Font family
    body {
        font-family: 'Avenir', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-weight: normal;
    }

    input[type="text"],
    input[type="password"],
    input[type="url"],
    input[type="tel"],
    input[type="search"],
    input[type="number"],
    input[type*="date"],
    input[type="email"] {
        font-family: 'Avenir', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-weight: 300;
    }

    button,
    .action.primary, .action-primary {
        font-family: 'Avenir', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
}
