<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Customer\Model\Data\Customer">
        <plugin name="wagento_customer_model_data_customer"
                type="Wagento\Customer\Plugin\Model\Data\CustomerPlugin"/>
    </type>
</config>
