<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="WeltPixel\SocialLogin\Block\Account\SocialAccounts">
        <plugin name="wagento_sociallogin_block_account_socialaccounts"
                type="Wagento\SocialLogin\Plugin\Block\Account\SocialAccountsPlugin"/>
    </type>
</config>
