<?xml version="1.0"?>
<!--
/**
 * Rutavity checkout customization
 * @package Wagento_ModifiedCheckout
 * @author Rudie Wang <rudi.wang@wagento.com>
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Move Billing address form checkbox -->
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="wagento_modified_checkout_layout_processor" type="Wagento\ModifiedCheckout\Plugin\Block\LayoutProcessor" sortOrder="1"/>
    </type>
    <!-- Override order success block -->
    <preference for="Magento\Checkout\Block\Onepage\Success" type="Wagento\ModifiedCheckout\Block\Onepage\Success" />
    <preference for="Magento\PurchaseOrder\Block\PurchaseOrder\Success" type="Wagento\ModifiedCheckout\Block\PurchaseOrder\Success"/>
</config>
