<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<weltpixel_searchautocomplete>
			<general>
				<enable>1</enable>
			</general>
			<productSearch>
				<enableAutoComplete>1</enableAutoComplete>
				<minimalChar>3</minimalChar>
				<noResult>Sorry, no results were found.</noResult>
				<maxItems>3</maxItems>
				<showImg>1</showImg>
				<widthImg>120</widthImg>
				<showDescr>0</showDescr>
				<maxWordsProdDescr>10</maxWordsProdDescr>
				<showPrice>1</showPrice>
			</productSearch>
			<categorySearch>
				<enableCategorySearch>0</enableCategorySearch>
				<maxItems>3</maxItems>
			</categorySearch>
			<popularSuggestions>
				<enablePopularSuggestions>1</enablePopularSuggestions>
                <maxItems>0</maxItems>
			</popularSuggestions>
			<frontendSettings>
				<widthResult>1081</widthResult>
				<templateResultsContainer>0</templateResultsContainer>
				<enableProductDivider>1</enableProductDivider>
				<colorProductDivider>#000</colorProductDivider>
				<containerBackgroundColor>#FFFFFFE6</containerBackgroundColor>
				<containerTextColor>#000000</containerTextColor>
				<titleBackgroundColor>#F0EFF0E6</titleBackgroundColor>
				<titleColor>#000000</titleColor>
			</frontendSettings>
		</weltpixel_searchautocomplete>
	</default>
</config>
