<?xml version="1.0" ?>
<!--
/**
 * Rutavity theme support extension
 * @package Wagento_Rutavity
 * @author Rudie Wang <rudi.wang@wagento.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
	<module name="Wagento_Rutavity"/>
</config>
