.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .opc-wrapper {
        .step-title {
            padding-left: 30px;
        }

        .form-login,
        .form-shipping-address {
            max-width: initial;
        }

        #shipping-new-address-form {
            display: flex;
            flex-wrap: wrap;

            > .field {
                flex: 50%;
                padding-right: 15px;
            }
        }
    }

    .opc-sidebar {
        margin: 56px 0 20px;
    }

    .checkout-payment-method {
        .checkout-billing-address {
            .checkout-container & {
                margin-bottom: 40px;
            }
        }

        .billing-address-same-as-shipping-block {
            font-size: 22px;
            font-weight: bold;
        }

        .field-select-billing,
        .billing-address-form {
            max-width: initial;

            .fieldset.address {
                display: flex;
                flex-wrap: wrap;

                > .field {
                    flex: 50%;
                    padding-right: 15px;
                }
            }
        }
    }
}
