//
//  common
//  ---------------------------------------------
& when (@media-common = true) {
    .page-products {
        > .page-wrapper {
            .page-main {
                margin-top: 0px;
            }
        }

        .columns {
            .column {
                .toolbar-view-mode {
                    height: 30px;
                    margin-top: 15px;
                    > .modes {
                        float: right;
                    }
                    > .toolbar-sorter {
                        float: left;
                    }
                }
                .toolbar-view-mode:last-of-type {
                    display: none;
                }
                .toolbar-products {
                    //position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    //background: @color-background-toolbar 0% 0% no-repeat padding-box;
                    padding: 15px 25px;
                    font-size: 14px;
                    line-height: 35px;

                    .title-toolbar {
                        float: left;
                        width: 20.833%;
                        text-align: left;
                        font-weight: 900;
                        font-size: 24px;
                    }

                    & ~ .toolbar-products:not(first-child) {
                        position: initial;
                    }

                    .modes {
                        display: none;
                        margin-right: 0;

                        .modes-label {
                            float: left;
                            width: auto;
                            height: auto;
                            clip: auto;
                            position: initial;
                            margin-right: 10px;
                            font-weight: 900;
                            line-height: 26px;
                        }

                        .modes-mode {
                            background: no-repeat;
                            border: none;
                            box-shadow: none;
                            padding: 10px 0;

                            &.mode-grid {
                                margin-right: 17px;
                            }
                        }
                    }

                    .field.limiter,
                    .title-toolbar,
                    .toolbar-amount {
                        display: none;
                        float: left;
                    }

                    .toolbar-sorter {
                        float: right;
                    }
                }

                .sorter-label,
                label {
                    font-weight: 900;
                    margin-right: 0px;
                    margin-left: 20px;
                }

                .products {
                    margin-top: 30px;
                }
            }

            .sidebar-main {
                margin-top: 30px;
            }
        }
    }

    .product-item {
        .abs-product-link,
        .product-item-name,
        .product.name a {
            font-weight: 900;
            font-size: 24px;
            line-height: 33px;
            color: @color-black;
        }

        .product-sku {
            font-size: 15px;
            line-height: 13px;
            color: @color-black;
            text-transform: uppercase;
        }

        .product-short-description {
            font-size: 20px;
            line-height: 27px;
            text-transform: capitalize;
            margin-top: 15px;
            display: inline-block;
            width: 100%;
        }

        .price-box {
            .price {
                font-size: 24px;
                font-weight: 900;
                line-height: 33px;
                text-transform: capitalize;
            }
        }
    }

    .products-grid {
        hr {
            margin-top: 0;
            margin-bottom: 65px;

            &:last-child {
                display: none;
            }
        }

        .product-item {
            position: relative;

            .product-item-actions {
                margin: 0;
            }

            .tocart {
                background: url('@{baseDir}images/assets/cart-ch.png') no-repeat;
                border: none;
                position: relative;
                width: 42px;
                height: 35px;

                span {
                    display: none;
                }
            }
        }

        .product-item-info {
            width: 95%;

            > .product-item-details {
                position: initial !important;

                > .weltpixel_quickview_button_v2 {
                    position: absolute !important;
                    top: 180px !important;
                    right: 20px !important;
                }

                .product-item-inner {
                    top: 0;
                    right: 17%;
                    box-shadow: none;
                    left: auto;
                    border: none;
                    position: absolute;
                    z-index: 9;

                    &:before {
                        display: none;
                    }
                }
            }

            &:not(:hover) {
                &:not(.active) {
                    .product-item-inner {
                        clip: auto;
                        height: auto;
                        width: auto;
                        overflow: auto;
                        top: 0;
                        right: 17%;
                        position: absolute;
                        z-index: 9;
                    }
                }
            }
        }
    }

    .requisition-list-action {
        & > .action.toggle {
            position: relative;
            padding: 0 30px 0 40px;
            text-transform: inherit;
            color: #000000;
            font-size: 15px;
            line-height: 17px;

            &:before {
                position: absolute;
                left: 0;
                font-size: 24px;
                line-height: 30px;
                width: 32px;
                margin: 0;
                color: #666666;
            }

            &:after {
                position: absolute;
                right: 8px;
                top: 8px;
            }
        }

        .items .item {

            .action.new {
                &:before {
                    position: absolute;
                    top: 5px;
                }
            }
        }
    }
}

//
//Mobile
//
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .page-products {
        .page-wrapper {
            .breadcrumbs {
                display: block;
                margin-top: 20px;
                margin-bottom: 20px;
            }

            .columns {
                .column {
                    > .products {
                        margin-top: 50px;
                    }

                    .toolbar-products {
                        background: none;

                        .title-toolbar,
                        .limiter {
                            display: none;
                        }

                        .toolbar-sorter {
                            left: 0;
                            margin-top: 0;

                            .sorter-label {
                                font-weight: normal;
                                font-size: 13px;
                            }

                            .sorter-action {
                                &:before {
                                    color: @color-black;
                                }
                            }
                        }

                        .toolbar-amount {
                            display: inline-block;
                            margin-top: 35px;
                            font-size: 13px;
                            color: @color-mobile-toolbar-amount;
                        }
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .filter.active {
        > .filter-title {
            border-bottom: 0px;
            > strong:after {
                color: #000000;
                font-weight: bold;
                font-size: 20px;
            }
        }
    }

    .icon-filter-category-product {
        float: left;
        font-size: 24px;
        cursor: pointer;
    }

    .filter-title > strong {
        border: 0px;
        background-color: #ffffff;
        padding: 7px 0px;
    }

    .page-products {
        .page-wrapper {
            .page-main {
                .columns {
                    .sidebar-main {
                        margin-top: 0;
                        > .filter {
                            > .filter-content {
                                > .filter-current {
                                    margin: 0px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .popup-filter-category-product {
        left: 10vw;
        right: 10vw;
        top: 15vh;
        height: 70vh;
        border-radius: 12px;

        .modal-inner-wrap {
            border-radius: 12px;
            > .modal-header {
                > .action-close {
                    &:before {
                        color: #000000;
                        font-weight: bold;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}
