<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="wagento_extension" translate="label" sortOrder="10">
            <label>Wagento Extensions</label>
        </tab>
        <section id="wagento_catalog" translate="label" type="text" sortOrder="10"  showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Catalog</label>
            <tab>wagento_extension</tab>
            <resource>Wagento_StoreLocator::config</resource>
            <group id="custom_pages_categories" translate="label" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="10">
                <label>Pages of the Custom Categories</label>
                <field id="custom_pages_brands" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Pages</label>
                    <backend_model>Wagento\Catalog\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <frontend_model>Wagento\Catalog\Block\System\Config\CustomCategoriesPages</frontend_model>
                </field>
            </group>
            <group id="product_list" translate="label" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="10">
                <label>Product List</label>
                <field id="use_almacen_for_stock" type="select" translate="label" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="10">
                    <label>Use Almacen for stock</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="use_addCart_without_login" type="select" translate="label" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="10">
                    <label>Show Add to Cart without login</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="show_price_without_login" type="select" translate="label" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="10">
                    <label>Show Price without login</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="message_verify_stock" type="text" translate="label" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="10">
                    <label>Message to verify stock when the user is without login.</label>
                </field>
            </group>
        </section>
    </system>
</config>
