<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="wagento_extension" translate="label" sortOrder="10">
            <label>Wagento Extensions</label>
        </tab>
        <section id="wagento_catalog" translate="label" type="text" sortOrder="10"  showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Catalog</label>
            <tab>wagento_extension</tab>
            <resource>Wagento_StoreLocator::config</resource>
            <group id="custom_pages_categories" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="10">
                <label>Pages of the Custom Categories</label>
                <field id="custom_pages_brands" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Pages</label>
                    <backend_model>Wagento\Catalog\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <frontend_model>Wagento\Catalog\Block\System\Config\CustomCategoriesPages</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
