<?xml version="1.0"?>
<!--
/**
 * Copyright © Wagento, Inc. All rights reserved.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Variable\Model\Source\Variables">
        <plugin name="wagento-socialmedia-variables"
                type="Wagento\SocialMedia\Plugin\Model\Source\VariablePlugin"/>
    </type>
    <type name="Magento\Variable\Model\Config\Structure\AvailableVariables">
        <arguments>
            <argument name="configPaths" xsi:type="array">
                <item name="wagento_social_media/links" xsi:type="array">
                    <item name="wagento_social_media/links/facebook_link" xsi:type="string">#</item>
                    <item name="wagento_social_media/links/instagram_link" xsi:type="string">#</item>
                    <item name="wagento_social_media/links/twitter_link" xsi:type="string">#</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
