//
//  common
//  ---------------------------------------------
& when (@media-common = true) {
    .filter-options-title {
        text-transform: uppercase;
        font-weight: 900;
        font-size: 21px;
        line-height: 33px;
    }
}

//
//Mobile
//
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

}
