.order-details-info {
    border: 2px solid #000000;
    border-radius: 15px;
    .block-title {
        border-bottom: 2px solid #000000;
        border-radius: 15px;
        padding: 10px 0px 10px 15px;
        font-size: 17px;
        font-weight: bold;
        background-color: rgba(236, 239, 241, 0.6);
    }
    .block-content {
        display: flex;
        padding: 20px 0px 20px 15px;
    }
}
.gobackorders {
    text-align: right;
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    &:before {
        content: "<<<";
    }
}

@import "_info_orders_desktop";
@import "_info_orders_mobile";
