.order-details-items.ordered {
    border: 0px;
    margin-top: 60px;
    .order-items {
        border: 2px solid #000000;
        border-radius: 15px;
        > .title {
            border-bottom: 2px solid #000000;
            border-radius: 15px;
            padding: 10px 0px 10px 15px;
            font-size: 17px;
            font-weight: bold;
            background-color: rgba(236, 239, 241, 0.6);
        }
        .content-data {
            display: flex;
            .item {
                flex: 3;
            }
        }
    }
}

@import "_items_mobile";
@import "_items_desktop";
