<?xml version="1.0"?>
<!--
/**
 * Copyright © Wagento, Inc. All rights reserved.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Wagento_StoreLocator::storelocator" title="Locations" translate="title" sortOrder="1000">
                        <resource id="Wagento_StoreLocator::config" title="Configuration" translate="title" sortOrder="10"/>
                        <resource id="Wagento_StoreLocator::manager" title="Manage Locations" translate="title" sortOrder="20"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
